
#topbar {
    background-color: var(--lightgrey);
    padding: 7px;
    display: flex;
    align-content: center;
    position: relative;
}
.div-appname {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.div-appname svg {
    height: 50px;
}
.appname {
    text-align: center;
    font-size: xx-large;
    font-family: 'Permanent Marker', cursive;
    margin: 0 1rem;
    user-select: none;
    color: var(--darkblue);
}
#topbar > button, #div-changeview {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}
#btn-back {
    left: 1rem;
}
#btn-add {
    right: 1rem;
}
#btn-today {
    right: 10rem;
}
#div-changeview {
    right: 14rem;
    background-color: var(--darkblue);
    border-radius: 100px;
    color: var(--white);
    display: flex;
    place-items: center;
    gap: 10px;
    height: 2.3rem;
    padding: 2px 10px;
}
#div-changeview > span {
    cursor: pointer;
    z-index: 2;
}
#indicator {
    background-color: var(--lightblue);
    border-radius: 100px;
    height: 2rem;
    width: 2rem;
    position: absolute;
    z-index: 1;
    left: 6px;
    transition: translate ease-in-out 0.5s;
}
#indicator.middle {
    translate: 34px 0;
}
#indicator.right {
    translate: 67px 0;
}

.div-form-meeting {
    background-color: var(--white);
    border: 2px solid #32313Daa;
    border-radius: 1rem;
    padding: 1rem;
    height: max-content;
    width: max-content;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    translate: -50% -50%;
}
.div-form-meeting > form {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.div-form-meeting > form > h2 {
    margin-top: 0.2rem;
}
.div-form-meeting > form > label {
    margin: 0.2rem 0;
}
.div-form-meeting > form > div {
    margin: 0.5rem 0 0;
    display: flex;
    justify-content: center;
}
.div-form-meeting > form > div > button {
    margin: 0 0.5rem;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #32313Daa;
}

#nav {
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    color: var(--white);
}
#nav > * {
    margin: auto 1rem;
}
#nav > #month-name {
    min-width: 20rem;
    white-space: nowrap;
}

#agenda-view {
    flex-grow: 1;
    display: grid;
    max-width: 1200px;
    width: inherit;
    margin: auto;
    grid-template-rows: repeat(6, 16.66%);
}



.week {
    display: grid;
    grid-template-columns: 1.5rem repeat(7, 14%);
}
.week-number {
    color: var(--white);
    width: 1.5rem;
    text-align: center;
    margin-top: 3px;
}
.day {
    height: 100%;
    padding: 3px;
    user-select: none;
    overflow: hidden;
    max-height: 130px;
}
.day:not(.empty) {
    border-radius: 1rem;
    border: 2px solid #32313Daa;
    background-color: var(--white);
    cursor: pointer;
    transition: transform ease 0.6s;
}
.day:not(.empty):not(.zoomed):hover {
    transform: scale(1.2);
    border-color: var(--lightblue);
    border-width: 5px;
}
.day > .day-number {
    color: var(--darkblue);
    font-weight: bold;
    font-size: 2rem;
}
.meeting-span {
    color: var(--white);
    background-color: var(--lightblue);
    border-radius: 0.8em;
    padding: 3px 1.5em 3px 10px;
    margin: 3px;
    display: inline-flex;
    max-width: 80%;
    max-height: 2rem;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.meeting-span > p {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.meeting-span .icon {
    margin-left: 0.5rem;
    cursor: pointer;
    transition: all ease 0.6s;
    position: absolute;
    right: 5px;
    top: 3px;
}
.meeting-span .icon:hover {
    transform: scale(1.2);
}
.day > .no-meeting {
    display: none;
    text-align: center;
    width: 100%;
    margin: 1rem;
}

.day.zoomed {
    position: fixed;
    cursor: auto;
    z-index: 20;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    max-height: 60%;
    height: max-content;
    width: 400px;
}
.day.zoomed > .day-number {
    margin: 1rem;
}
.day.zoomed > .no-meeting {
    display: block;
}

#btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#div-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #B9B6CA88;
    backdrop-filter: blur(5px);
}


#agenda-view.week-view {
    color: var(--white);
    display: flex;
    position: relative;
}


.hours {
    box-sizing: content-box;
    position: absolute;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    height: calc(100% - 4rem);
    width: 100%;
}
.day-view .hours {
    margin-top: 0;
    height: 100%;
    width: calc(100% - 2.5rem);
}


.hour-name {
    position: absolute;
    width: 2.3rem;
    text-align: right;
}
.hours > hr {
    position: absolute;
    margin: 0 0 0 2.5rem;
    width: calc(100% - 2.6rem);
    border: 1px dashed var(--white);
    opacity: 0.3;
}
.week-view-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    outline-offset: 0;
    margin-left: 2.5rem;
}
.wv-meetings {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(7, 14.29%);
}
.day-weekview {
    outline: solid 3px var(--darkblue);
    outline-offset: -1px;
    min-height: 100%;
    position: relative;
}
.day-weekview > .meeting-span {
    position: absolute;
}
.day-name {
    height: 2rem;
    margin: 0;
    padding: 1rem 0;
}
.daynames {
    display: grid;
    grid-template-columns: repeat(7, 14.29%);
    height: min-content;
}

.week-view .meeting-span, .day-view .meeting-span {
    box-sizing: border-box;
    width: calc(100% - 6px);
    max-width: unset;
    max-height: unset;
}


#agenda-view:not(.day-view) {
    grid-template-rows: repeat(6, 16.66%);
}

#agenda-view.day-view {
    color: var(--white);
    display: flex;
    position: relative;
    max-width: 300px;
    padding-right: 2.5rem;
}
#agenda-view.day-view > .hours {
    padding: 0;
}

.day-view-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    outline-offset: 0;
    margin-left: 2.5rem;
}


.dv-meetings {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}


.day-dayview {
    outline: solid 3px var(--darkblue);
    outline-offset: -1px;
    min-height: 100%;
    position: relative;

}


.day-dayview > .meeting-span {
    position: absolute;
}