@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

:root {
    --darkblue: #0E063F;
    --lightblue: #3B8AC3;
    --darkgrey: #32313D;
    --lightgrey: #b9b6ca;
    --white: #ffffff;
    --black: #000000;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: Ubuntu, sans-serif;
}

input, button {
    margin: 0 auto;
    border-radius: 2rem;
    padding: 5px 15px;
    border-color: transparent;
    outline: none;
}
input {
    border: 3px solid var(--lightgrey);
}
input:focus, input:active {
    border-color: var(--lightblue);
}
button {
    color: var(--white);
    background-color: var(--darkblue);
    font-weight: bolder;
    cursor: pointer;
    transition: all ease 0.6s;
}
button:hover {
    transform: scale(1.2);
}
button.dark {
    background-color: var(--darkblue);
}
button.light {
    background-color: var(--lightblue);
}
button.icon {
    padding: 5px;
    height: 2.5rem;
    width: 2.5rem;
}
button:not(.icon) {
    display: flex;
    align-items: center;
    gap: 3px;
}
.material-icons-round {
    display: inline-flex;
    align-content: center;
    justify-content: center;
}
.material-icons-round.md-18 { font-size: 18px; }

h1, h2, h3, h4 {
    text-align: center;
}

.hidden {
    display: none !important;
}
