
body {
    background: var(--darkblue);
    background: linear-gradient(135deg, var(--lightblue) 0%, var(--darkblue) 40% 60%, var(--lightblue) 100%);
}

.div-appname {
    display: flex;
    justify-content: center;
    align-content: center;
}
.div-appname svg {
    height: 70px;
}
.appname {
    text-align: center;
    font-size: xxx-large;
    font-family: 'Permanent Marker', cursive;
    margin: 0 1rem;
    user-select: none;
}

div#main {
    background-color: var(--white);
    border-radius: 2rem;
    height: 300px;
    width: 500px;
    margin: 0 auto;
    transform: translateY(80%);

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
div#main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div#main label {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin: 1rem;
}
div#main input {
    margin-bottom: 0.5rem;
}